/* * {
  border: 1px solid gold;
} */
.about-section {
  padding: 5rem 0;
}
.about-section h1 {
  padding: 0;
}
.about-subtitle {
  max-width: 100%;
  text-align: justify;
}
.about-section .container {
  margin: 0;
}
.image-1 {
  width: 100%;
}
@media (min-width: 1024px) {
  .about-section .container {
    padding: 0;
    margin: 0 auto;
    max-width: 70%;
  }
  .intro-container {
    display: flex;
    justify-content: space-between;
  }
  .intro-about {
  }
  .about-subtitle {
    max-width: 70%;
    text-align: justify;
  }
}
