/* * {
  border: 1px solid gold;
} */
.about-section {
  padding: 5rem 0;
}
.about-section h1 {
  padding: 0;
}
.about-item {
  max-width: 150px;
  text-align: center;
  margin: 0 auto;
}
.about-text {
  max-width: 25ch;
}
.image-before::before {
  position: absolute;
  content: "";
  left: -160px;
  top: 40px;
  width: 387px;
  height: 255px;
  z-index: -1;
  display: inline-block;
  background: url("https://diamond-continental.com/images/background/pattern-4.png");
}
.about-item h5 {
  font-weight: 900;
  font-size: large;
  transition: color 500ms ease;
}
.round-icon:hover {
  background-color: black;
}
.about-item:hover {
  color: #ec0203;
}

.about-subtitle {
  max-width: 100%;
  text-align: justify;
}
.about-section .container {
  margin: 0;
}
.image-1 {
  width: 100%;
}
.round-icon {
  background-color: #ec0203;
  border-radius: 50%;
  width: 120px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  transition: background-color 500ms ease;
}
.intro-about {
  position: relative;
}
.image-2 {
  display: none;
}
.about-section .container {
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}
@media (min-width: 768px) {
  .about-section .container {
    padding: 0;
    margin: 0 auto;
    max-width: 95%;
  }
}
@media (min-width: 1024px) {
  .about-text {
    max-width: 70%;
    margin: 0 auto;
  }
  .about-section .container {
    max-width: 90%;
  }
  .intro-container {
    display: flex;
    justify-content: space-around;
  }
  .intro-about {
  }
  .about-subtitle {
    max-width: 70%;
    text-align: justify;
  }
  .image-2 {
    position: absolute;
    left: 40px;
    top: 40px;
    z-index: -1;
    display: block;
    width: 100%;
    filter: brightness(30%);
  }
}
@media (min-width: 1200px) {
  .about-section .container {
    max-width: 70%;
  }
}
