.footer-section {
  background-color: #080603;
  color: #ffffffbb;
  padding: 2rem 0;
  font-size: 0.9rem;
}
.footer-section li i {
  color: #ec0203;
}
.footer-section a {
  color: #ffffffbb;
}
.footer-section:hover a {
  transform: translateX(-2px);
  color: #ffffffbb;
}
.footer-section li {
  transition: all 250ms;
}
.footer-section li:hover {
  transform: translateX(3.5px);
}
.other-items li i {
  color: #fff;
}
.other-items li {
  margin-bottom: 10px;
  white-space: nowrap;
  position: relative;
  justify-self: right;
  width: 100px;
}
.other-items {
  width: 25%;
}
.other-items h4 {
  font-weight: bold;
}
.email-address-link {
  color: rgb(212, 212, 212);
}
