.service-container {
  background-color: #f3f3f3;
}
.service-title {
  text-align: center;
  padding: 3rem 0;
}
.loan-link {
  color: black;
  text-decoration: none;
}
.loan-link:hover {
  color: black;
  text-decoration: none;
}
