.statistics-section {
  background-image: url("../assets/8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .statistics-section {
    background-image: url("../assets/8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    padding: 2rem 0;
    width: 100%;
    position: relative;
  }
}
.statistics-section::before {
  content: "";
  background-color: #2d2d32fe;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0.85;
}
