.input-item {
  padding: 1rem;
  position: relative;
}
.input-item .list span {
  font-size: 0.75rem;
  padding: 0 1rem;
}
.input-item .forgot-password {
  color: #686b6d;
}
.input-texts {
  display: flex;
  justify-content: space-between;
}
.input-item input {
  width: 100%;
  outline: 0;
  padding: 0.5rem 1rem;
  border: 1px solid #bfc9d4;
  border-radius: 6px;
  font-size: 1rem;
  padding-left: 1.95rem;
  color: #3c3d3e;
}
.left-icons {
  position: absolute;
  top: 50%;
  color: #0e466b;
  font-size: 1.1rem;
  margin: 0 0.5rem 0;
}
