.statistics-item {
  text-align: center;
  color: white;
  padding-top: 1.2rem;
  margin-bottom: 2rem;
  position: relative;
  justify-self: center;
}
.statistics-item .title {
  font-size: 1rem;
  white-space: nowrap;
}
.statistics-item .total {
  font-weight: 900;
}
@media screen and (min-width: 1024px) {
  .statistics-item {
    width: 150px;
    text-align: center;
    color: white;
    margin-right: 3rem;
    margin-top: 1rem;
    position: relative;
    justify-self: center;
  }
}
