.top-navbar {
  background-color: #000000fe;
  color: #ffffffd5;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  align-items: center;
}
.contact-list {
  display: flex;
  justify-content: flex-end;
  flex-grow: 0.6;
}

.lang-dropdown {
  flex-grow: 0.1;
}
option {
  color: black;
}
.form-select-lang {
  background-color: inherit;
  color: inherit;
  outline: none;
  border: none;
}

@media (max-width: 576px) {
  .top-navbar {
    justify-content: center;
  }
  .contact-list {
    display: none;
  }
}
@media (min-width: 768px) {
  .top-navbar {
    justify-content: space-between;
  }
  .contact-list {
    display: flex;
    font-size: 0.9rem;
  }
}
@media (min-width: 1024px) {
  .top-navbar {
    justify-content: flex-end;
  }
  .contact-list {
    font-size: 1.05rem;
  }
}
