.top-navbar {
  background-color: #000000fe;
  color: #ffffffd5;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  align-items: center;
}
.top-navbar .container {
  justify-content: center;
}
.contact-list {
  display: flex;
  justify-content: flex-start;
  flex-grow: 0.6;
}

.lang-dropdown {
  flex-grow: 0.1;
}
option {
  color: black;
}
.form-select-lang {
  background-color: inherit;
  color: inherit;
  outline: none;
  border: none;
}

@media (max-width: 576px) {
  .top-navbar {
    justify-content: center;
  }
  .contact-list {
    display: none;
  }
}
@media (min-width: 768px) {
  .top-navbar {
    justify-content: center;
  }
  .top-navbar .container {
    margin: 0;
    padding: 0;
    justify-content: flex-start;
  }
  .contact-list {
    display: flex;
    font-size: 0.8rem;
  }
}
@media (min-width: 1024px) {
  .top-navbar {
    justify-content: flex-end;
    width: 75%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%);
    padding-left: 0.5rem;
  }
  .contact-list {
    font-size: 0.9rem;
  }
  .container_top_navbar {
    display: flex;
    justify-content: flex-end;
  }
  .top-navbar .container {
    padding: 0 1rem;
  }
}
@media (min-width: 1440px) {
}
