.section-title {
  font-weight: bold;
  color: #ec0203;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.section-heading {
  font-weight: 900;
  text-align: left;
  padding-left: 1rem;
  max-width: 18ch;
  line-height: 1;
  text-transform: capitalize;
}
.section-left-border {
  border-left: 4px solid #ec0203;
}
