@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&family=Quicksand:wght@300;500&display=swap");

html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Mulish", sans-serif;
}

/* .grid-1x2 {
} */

@media screen and (min-width: 1024px) {
  .grid-1x2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid-1x2--col-1-60 {
    grid-template-columns: 0.6fr 0.4fr;
  }
  .grid-1x2--col-2-60 {
    grid-template-columns: 0.4fr 0.6fr;
  }
}
